<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Allow to display activity information</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Allow to display activity information</string>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
